tfc_org = "myterraformcloudorg" # the org you created in Terraform Cloud
git_org = "mygithubaccount" # the github account or org you use with this demo
git_repo = "demorepository" # the name of the github repository you use with this demo
github_oauth_token = "mygithubtoken" # the github oauth token created at https://github.com/settings/developers : OAuth Apps
tfe_token = "myterraformtoken" # the token created at https://app.terraform.io/app/YOURORG/settings/authentication-tokens
publickey = "mypublickey" # the public key to be used when setting up public key authentication on VMs
azure_client = "myazureclientid" # appId created when using the Service Principal directions at https://www.terraform.io/docs/providers/azurerm/guides/service_principal_client_secret.html
azure_client_secret = "myazureclientpassword" # password as above
azure_tenant = "myazuretenantid" # tenant as above
azure_subscription = "myazuresubscription" # the azure subscription to use with the demo must match the subscription used to create the Service Principal
